.container
  h1#indicator WebSpeech Demo
  .row
    .col.s6
      button#start.waves-effect.waves-light.btn-large(style="width:100%;") Start
    .col.s6
      button#stop.waves-effect.waves-light.btn-large(style="width:100%;") Stop
    .col.s12
      h3 Results:
      div#results